.App {
  max-width: 350px;
  margin: 30px auto;
}
.App footer {
  text-align: center;
  font-size: 11px;
  margin: 20px 0;
  font-family: monospace;
}

.App .link {
  color: palevioletred;
  text-decoration: none;
}
.App .link:hover {
  text-decoration: none;
  color: purple;
}
