body {
  font-family: arial, sans-serif;
}

.Weather {
  border: 5px solid pink;
  background-color: papayawhip;
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: bold;
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 6px;
}
.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 0px;
}
