body {
  font-family: arial, sans-serif;
  text-align: center;
}

.weather-wrapper {
  background: papayawhip;
  padding: 5px;
  margin-bottom: 20px auto;
  width: 275px;
}
.weather-wrapper .background {
  opacity: 0.1;
}
.Weather {
  border: 5px solid pink;
  background-image: url("../public/images/background-pastel.png");
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 7px;
  color: black;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: black;
  font-weight: bold;
  font-size: 40px;
  font-weight: 100;
  margin: 10px 0 10px 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-top: 2px;
}

.Weather .temperature {
  font-weight: bold;
  color: black;
  font-size: 64px;
  font-weight: 400;

  margin-left: 6px;
}
.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 0px;
}

.Weather .country {
  top: -34px;
}

.Weather .active {
  color: palevioletred;
  text-decoration: none;
}
.Weather .active:hover {
  text-decoration: none;
}

.Weather p {
  font-size: 11px;
  margin-bottom: 0;
}
